<h1 style="color:blue;">Prominent Recruiters</h1>
<div class="content">
    <div class="image">
        <div class="in-image">
        <img src="assets/acc.jpg" alt="">
        <img src="assets/cog.jpg" alt="">
        <img src="assets/inf.jpg" alt="">
        <img src="assets/wip.jpg" alt="">
        </div>
        <div class="in-image">
        <img src="assets/siri.png" alt="">
        <img src="assets/soli.jpg" alt="">
        <img src="assets/tcs.jpg" alt="">
        <img src="assets/zoho.jpg" alt="">
        </div>
    </div>
</div>