<h1 style="color:blue;">TRAININGS</h1>
<div class="training-programs">
  <a class="program lightpink" [routerLink]="['/training', 'Quantitative-Aptitude-and-Logical-Reasoning']">
    <h3>Quantitative Aptitude and Logical Reasoning</h3>
  </a>
  <a class="program lightskyblue" [routerLink]="['/training', 'Soft-Skills']">
    <h3>Soft skills</h3>
  </a>
  <a class="program lightgreen" [routerLink]="['/training', 'Core-Training']">
    <h3>Core Training</h3>
  </a>
  <a class="program mediumpurple" [routerLink]="['/training', 'Professional-Grooming-Training']">
    <h3>Professional Grooming Training</h3>
  </a>
  <a class="program sandybrown" [routerLink]="['/training', 'Problem-Solving-Skills']">
    <h3>Problem Solving Skills</h3>
  </a>
  <a class="program mediumturquoise" [routerLink]="['/training', 'Advanced-Technical-Training']">
    <h3>Advanced Technical Training</h3>
  </a>
  <a class="program lightgoldenrodyellow" [routerLink]="['/training', 'Full-Stack-Development-Training']">
    <h3>Full Stack Development Training</h3>
  </a>
  <a class="program tomato" [routerLink]="['/training', 'Company-Specific-Training']">
    <h3>Company Specific Training</h3>
  </a>
  <a class="program lightcoral" [routerLink]="['/training', 'Skill-Enhancement-Training-for-Super-Dream-Companies']">
    <h3>Skill Enhancement Training for Super Dream Companies</h3>
  </a>
  <a class="program lightcyan" [routerLink]="['/training', 'Mock-interview-&-Placement-readiness-Sessions-through-industry-experts']">
    <h3>Mock interview & Placement readiness Sessions through industry experts</h3>
  </a>
  <a class="program lightseagreen" [routerLink]="['/training', 'Aptitude-Shortcut-Methods-with-Speed-Maths']">
    <h3>Aptitude Shortcut Methods with Speed Maths</h3>
  </a>
  <a class="program peru" [routerLink]="['/training', 'Verbal-Ability-and-Communicative-Skills']">
    <h3>Verbal Ability and Communicative Skills</h3>
  </a>
  <a class="program wheat" [routerLink]="['/training', 'Competitive-Coding-Platform-Training']">
    <h3>Competitive Coding Platform Training</h3>
  </a>
  <a class="program khaki" [routerLink]="['/training', 'Boot-Camp']">
    <h3>Boot camp</h3>
  </a>
  <a class="program gold" [routerLink]="['/training', 'Hackathon']">
    <h3>Hackathon</h3>
  </a>
  <a class="program lemonchiffon" [routerLink]="['/training', 'Coding-Contest']">
    <h3>Coding Contest</h3>
  </a>
</div>
